/*.dot circle {*/
  /*fill: lightsteelblue;*/
  /*stroke: steelblue;*/
  /*stroke-width: 1px;*/
/*}*/

/*.dot circle.dragging {*/
  /*fill: red;*/
  /*stroke: brown;*/
/*}*/

/*.axis line {*/
  /*fill: none;*/
  /*stroke: #ddd;*/
  /*shape-rendering: crispEdges;*/
  /*vector-effect: non-scaling-stroke;*/
/*}*/

a{
  border: 1px solid #d3d3d3;
  padding: 20px;
  background-color: #00c9ff;
  color: #ffffff;
}